.App {
  font-family: sans-serif;
  text-align: center;
  /*//background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDohtYT64Gqcvw7xOIEChZThDN366MUNIPYg&usqp=CAU);
  background-size: 62%;
  opacity: 0.9;*/
  background: url(https://www.telegraph.co.uk/content/dam/business/2020/06/07/People-climing-a-mountain-of-drugs-syringes-and-tablets_trans_NvBQzQNjv4BqM37qcIWR9CtrqmiMdQVx7BLl5GhlglFoSG-9WaViRts.jpg);
}
